<div class="container p-3">
  <div class="d-flex justify-content-between">
    <h1>does this work</h1>
    <%= link_to "Add Restaurant +", new_restaurant_path, class: "btn-primary d-flex justify-content-center align-items-center px-2 " %></div>
  <% @restaurants.each do |restaurant| %>
    <div class="card my-3 p-5">
      <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %>
      <p><%= restaurant.address  %></p>
      <p><%= restaurant.category  %></p>
    </div>
  <% end %>
</div>

